body {
    background-image: url("https://img00.deviantart.net/cb3a/i/2017/145/8/7/everybody_gudegude_gudetama_by_fshawolg-dbagw3z.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right; 
}
